

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f2f5f9;
  color: #333;
  line-height: 1.7;
}

/* NAVBAR */
nav {
  background-color: #1b4f72;
  padding: 14px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav h2 {
  color: #fff;
  font-size: 20px;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 18px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 15px;
  padding: 6px 10px;
  transition: 0.3s;
}

nav ul li a:hover {
  background-color: #145a86;
  border-radius: 6px;
}

/* HEADER + GAMBAR OTOMATIS */
header {
  background: linear-gradient(
      rgba(0, 0, 0, 0.45),
      rgba(0, 0, 0, 0.45)
    ),
    url("https://images.unsplash.com/photo-1586773860418-d37222d8fce3");
  background-size: cover;
  background-position: center;
  color: #fff;
  text-align: center;
  padding: 90px 20px;
}

header h1 {
  font-size: 36px;
  margin-bottom: 10px;
}

header p {
  font-size: 17px;
}

/* MAIN */
main {
  max-width: 900px;
  margin: 40px auto;
  padding: 0 20px;
}

/* SECTION */
section {
  background-color: #fff;
  padding: 28px;
  margin-bottom: 30px;
  border-radius: 12px;
  box-shadow: 0 8px 22px rgba(0, 0, 0, 0.08);
}

section h2 {
  color: #1b4f72;
  margin-bottom: 12px;
}

section h3 {
  color: #2e86c1;
  margin-top: 18px;
}

section ul {
  margin-left: 18px;
  margin-top: 10px;
}

section ul li {
  margin-bottom: 8px;
}

/* FOOTER */
footer {
  background-color: #1b4f72;
  color: #fff;
  text-align: center;
  padding: 20px;
  font-size: 14px;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  nav {
    flex-direction: column;
    gap: 10px;
  }

  header h1 {
    font-size: 28px;
  }
  .destinasi-item {
  border-left: 5px solid #2e86c1;
  padding: 15px 20px;
  margin-top: 20px;
  background: #f9fbfd;
  border-radius: 8px;
}

.destinasi-item h3 {
  color: #1b4f72;
  margin-bottom: 8px;
}

.destinasi-item p {
  text-align: justify;
}

}
.destinasi-item {
  background: #f9fbfd;
  border-radius: 12px;
  margin-top: 25px;
  padding: 18px;
  box-shadow: 0 6px 18px rgba(0,0,0,.08);
}

.destinasi-item img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 12px;
}

.destinasi-item h3 {
  color: #1b4f72;
  margin-bottom: 8px;
}

.destinasi-item p {
  text-align: justify;
}
.destinasi-item {
  background: #f9fbfd;
  border-radius: 12px;
  margin-top: 25px;
  padding: 18px;
  box-shadow: 0 6px 18px rgba(0,0,0,.08);
}

.destinasi-item img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 12px;
}

.destinasi-item h3 {
  color: #1b4f72;
  margin-bottom: 8px;
}

.destinasi-item p {
  text-align: justify;
}



